<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>URL Shortener Microservice</h1>
    <h2>Short URL Creation</h2>

    <p>
      Example:
      <code>POST [project_url]/api/shorturl - https://www.google.com</code>
    </p>

    <div class="box">
      <fieldset>
        <legend>URL Shortener</legend>
        <form action="/api/shorturl" method="POST">
          <label for="url_input">URL:</label>
          <input id="url_input" type="text" name="url" value="https://www.freecodecamp.org/" required />
          <button type="submit">POST URL</button>
        </form>
      </fieldset>
    </div>

    <h3>Example Usage:</h3>
    <p><a href="/api/shorturl/3">[this_project_url]/api/shorturl/3</a></p>

    <h3>Will Redirect to:</h3>
    <p>https://forum.freecodecamp.org/</p>

    <p>By <a href="https://www.freecodecamp.org">freeCodeCamp</a></p>
  </body>
</html>
